
  {{!-- <a class="navbar-brand" class="logo">Weather App {{title}}</a>
  <a class="navbar-brand" href="/">Weather</a>
    <a class="navbar-brand" href="/about">About</a>
    <a class="navbar-brand" href="/help">Help</a> --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Weather App {{title}}</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="/">Weather</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/help">Help</a>
      </li>
    </ul>
    <span class="navbar-text">
     Time
    </span>
  </div>
</nav>