<link rel="stylesheet" href="../../public/style.css">
<div class="header">
  <a href="#default" class="logo">Weather App {{title}}</a>
  <div class="header-right">
      <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
  </div>
</div>